@include grid-area(anuncios) {
  background: $background;
  display: grid;
  align-content: start;
  padding: $padding;
  grid-gap: $padding;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
